// fonts
$heading-font: 'Playfair Display', serif;
$body-font: 'Raleway', sans-serif;
$base-font-size: 62%;
$p-font-size: 2rem;
$h1-font-size: 8rem;
$xs-h1-font-size: 5rem;
$h2-font-size: 3rem;
$h3-font-size: 1.2rem;

// colors
$body-color: #fff;
$h2-color: #fff;
$a-color: #00BCD4;
$a-hover-color: #FF5722;
$folk-background-color: #0097A7;

//breakpoints
$tablet-max-width: 968px;
$xs-max-width: 560px;
