main {
  // compensate for padding of the body on small device
  @media(max-width: $xs-max-width) {
    margin-left: -2em;
    margin-right: -2em;
  }
}

// Info is the whole section, which contains a row that contains 3 columns
.info {
  display: none;
  min-height: 75vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &.active {
    display: block;
    animation: fade-in 1s ease-in-out;
  }
}

// Bringing mixin for background images
#people {
  @include image-gradient(0.5, '../img/maria.jpg');
}

#culture {
  @include image-gradient(0.5, '../img/iguana.jpg');
}

#landscape {
  @include image-gradient(0.2, '../img/chicamocha.jpg');
}

#history {
  @include image-gradient(0.2, '../img/medellin.jpg');
}

#folk {
  background: $folk-background-color;

  .p-container {
    color: $body-color;
    padding: 70px 100px;

    span {
      color: #212121;
      font-weight: bold;
    }
  }

  .info-row {
    padding-top: 5vh;

    h2 {
      color: #212121;
      text-shadow: none;
    }

    ul {
      padding-left: 50px;
      padding-right: 50px;
    }

    li {
      list-style: circle;
      text-align: left;
      color: $body-color;
      padding-left: 0px;
      padding-bottom: 15px;
    }
  }
}

.info-row {
  padding-top: 35vh;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;

  @media(max-width: $xs-max-width), (max-width: $tablet-max-width) {
    display: block;
  }
}

.info-col {
  // Need to position element to later on position ::after absolute
  position: relative;
  box-sizing: border-box;
  width: 33.3%;
  text-align: center;
  padding: 0 40px;

  @media (max-width: $xs-max-width), (max-width: $tablet-max-width) {
    padding-bottom: 50px;
    margin: 0 auto;
  }

  @media(max-width: $tablet-max-width) {
    width: 80%;
  }

  @media(max-width: $xs-max-width) {
    width: 100%;
  }

  h2 {
    color: $body-color;
    text-shadow: 1px 1px #757575;
    font-size: $h2-font-size;
    color: $h2-color;
  }

  p {
    color: $body-color;
  }
}

// Adding line between columns
.info-col::after {
  content: "";
  height: 35%;
  position: absolute;
  right: 0;
  top: 15%;
  border-right: 1px solid #FFF9C4;

  @media (max-width: $xs-max-width), (max-width: $tablet-max-width) {
    border: none;
  }
}

.info-col:last-child::after {
  border: 0px;
}
